<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Обряд посвещения в клуб киноманов</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container col-3 mt-5">
    <form action="#" th:action="@{/addUser}" th:object="${user}" method="post">
        <div class="form-group">
            <label for="username" style="font-weight: bold">Кто ты воин?</label>
            <input type="text" class="form-control" id="username" th:field="*{username}" required>
            <span class="text-danger" th:text="${usernameError}"></span>
        </div>
        <div class="form-group">
            <label for="password" style="font-weight: bold" >Пораль</label>
            <input type="password" class="form-control" id="password" th:field="*{password}" required>
        </div>
        <button type="submit" class="btn btn-primary">Завершить обряд посвещения</button>
    </form>
</div>

</body>
</html>